.footer{
    align-items: center;
    background-color: $black;
    display: flex;
    color: $white;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.footer_icons{
    display: flex;
    flex-direction: row;

    & a{
        margin: 10px;
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
    .footer__text h4,h5{
        min-width: 200px;
        font-size: .7rem !important;
    }
    
.footer_icons{
    & a{
        margin: 5px;
        height: 30px;
        width: 30px;
    }
}

}