.footer{
    align-items: center;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.footer_icons{
    display: flex;
    flex-direction: row;

    & a{
        margin: 10px;
        height: 50px;
        width: 50px;
    }
}

@media only screen and (max-width: 600px) {

    .footer{
        padding: 10px;
    }
    .footer_name{
        font-size: .8rem;
    }
    
.footer_icons{
    & a{
        margin: 5px;
        height: 35px;
        width: 35px;
    }
}

}