.navbar {
  // border-radius: 0px 0px 10px 10px;}
  background: $black;
  // box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.10);
  display: flex;
  justify-content: space-between;
  left: 0;
  max-height: 80px;
  margin: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar__title {
  color: $white;
  font-size: 30px;
  margin-left: 10%;
  padding: 5px;
}
.navbar__title span {
  color: $primary;
}
.navbar__menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
  margin-right: 40px;
  min-width: 400px;
}

.navbar__menu a {
  border-radius: 10px;
  color: $white !important ;
  margin-left: 80px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: all 0.2s ease-in;

  &:hover {
    background: $primary;
    color: $white;
  }
}

.btn__menu {
  background: none;
  border: none;
  display: none;
  margin-right: 50px;
  padding: 20px;
  position: fixed;
  z-index: 100;
}
.btn__menu img {
  height: 30px;
  width: 30px;
}
.show {
  top: 70px !important;
}

//Controla los estilos de 1200px hacia arriba
@media only screen and (min-width: 1200px) {
  .navbar__title {
    color: $white;
    font-size: 30px;
    margin-left: 10%;
    padding: 5px;
  }
  .navbar__title span {
    color: $primary;
  }
  .navbar__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    margin-right: 40px;
    min-width: 400px;
  }

  .navbar__menu a {
    color: $white !important ;
    border-radius: 10px;
    margin-left: 80px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}

//Controla los estilos de 992px hacia arriba
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar__title {
    margin-left: 5%;
  }
  .navbar__menu {
    margin-right: 25px;
    min-width: 250px;
  }
  .navbar__menu a {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar__title {
    margin-left: 3%;
  }
  .navbar__menu {
    margin-right: 15px;
  }
  .navbar__menu a {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .navbar__title {
    margin-left: 2%;
  }
  .navbar__menu {
    margin-right: 10px;
  }
  .navbar__menu a {
    margin-left: 15px;
  }
}

@media  screen and  (max-width: 600px) {

  .navbar {
    background: $white;
    max-width: 600px;
  }

  .navbar__title{
    margin: auto;
  
  }
  .btn__menu {
    display: inline-flex;
  }
  .navbar__menu {
    background: $primary;
    display: block;
    height: 200px;
    margin: 0;
    position: fixed;
    top: -300px;
    transition: 0.5s ease-in;
    width: 100%;
  }
  .navbar__menu a {
    border-radius: 0;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
    width: 100%;

    &:hover {
      background: darken($color: $primary, $amount: 3.5);
    }
  }
}
