.proyects{
    padding-top: 150px;
}

.proyects__title{
    color: $primary !important;
    margin-left: 50px ;
}

.proyects__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}


.card {
    background-color: $third;
    border-radius: 10px;
    color: $white;
    height: 450px;
    max-width: 400px;
    margin: 20px;
    overflow: hidden;

    & a{
        position:absolute;
        top: 90%;
        color: $primary !important;
        text-decoration: none;
        padding-left:20px;
    }

}

.card__img {
    border-radius: 10px 10px 0 0;
    max-width: 400px;
    max-height: 300px;
}

.card_body {
    padding: 10px;

    & p{
        padding-top: 5px;
        text-align: justify;
    }

   
}

@media  (min-width: 768px) and (max-width:991px){
    .card {
        max-width: 300px;
        margin: 10px;
        height: 400px;
    }
    
    .card__img {
        border-radius: 10px 10px 0 0;
        max-width: 300px;
        max-height: 200px;
    }
    
    .card_body {
        & p{
            font-size: .9rem;
        }
    
       
    }
}


@media  (min-width: 600px) and (max-width: 767px){
    .card {
        height: 400px;
        max-width: 250px;
        margin: 10px;
    }
    
    .card__img {
        border-radius: 10px 10px 0 0;
        max-width: 250px;
        max-height: 150px;
    }
    
    .card_body {
        & p{
            font-size: .9rem;
        }
    
       
    }
}

@media  (max-width: 600px) {
    .card {
        height: 450px;
        max-width: 300px;
        margin: 5px;
    }
    
    .card__img {
        border-radius: 10px 10px 0 0;
        height: 250px;
        max-width: 300px;
    }

    .card_body {
        & p{
            font-size: .9rem;
        }
    
       
    }
    .card_body h2{
        font-size: 1.2rem;
    }
    
}